{% extends "base.html" %}

{% block title %}Price Detection Demo{% endblock %}

{% block content %}

<h3>Description:</h3>
<p>This page is used for demo Price Detection project.</p>
<h3>NOTE:</h3>
<ul>
    <li>
        This page ONLY for demo, not APIs. Do not copy these demo page addresses
        as APIs. Read API document for more details.
    </li>
    <li>
        <a href="https://github.com/nguyennguyen0110/demo-price-detection"
           target="_blank" rel="noopener noreferrer">
            Link to source code
        </a>
    </li>
    <li>
        We can follow MMOCR and Tesseract documents to fine-tune their pre-trained models. This notebook
        mimic what I did to fine-tune Tesseract 4.0 (please note that Colab and Tesseract version has
        changed over time):
        <a href="https://colab.research.google.com/drive/1DrYHemCfhX8HsMcWCpc9VPQjvjKf7Vr-?usp=share_link"
           target="_blank" rel="noopener noreferrer">
            Link to Notebook
        </a>
    </li>
</ul>
<h3>Current APIs:</h3>
<a href="{{ url_for('demo_read_tag') }}">/read-tag:</a>
<ul>
    <li>
        Read all text from image, get first text (at the top of image) as product
        name and number which has the largest printed area as selling price.
    </li>
</ul>

{% endblock %}
